<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>CREATE SUCCESS</h3>
</br>

<p>
    FullName: <%= info.fullName %>
</p>
<p>
    studentCode: <%= info.studentCode %>
</p>
<p>
    heoreticalScore: <%= info.heoreticalScore %>
</p>
<p>
    executionScore: <%= info.heoreticalScore %>
</p>
<p>
    describe: <%= info.describe %>
</p>
<p>
    evaluate: <%= info.evaluate %>
</p>
<p>
    class: <%= info.class %>
</p>
<a href="/infos/list">Back to list</a>

</body>
</html>